#cont-princ
{
    background: rgb(255, 255, 255);
    margin: 20px auto 25px;
    padding: 24px 0;
}
.container
{
    width: 1045px;
    margin: 0px auto;
}
.cont
{
    height: 441px;
    width: 100%;
    float: none;
    padding-left: 10px;
}
.post .list
{
    margin: 20px 0;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0px 1px 3px 0 #b5b5b5;
    border: 1px solid #ddd;
    border-bottom: 4px solid #089e4c;
    padding: 20px 200px 25px;
}
.img
{
    padding: 4px;
    margin: 2px auto;
    border: 1px solid #cbcdcc;
    width:550px;
    height: 683px;
    
}